site_name: pynetevents
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.instant
    - content.code.copy
    - search.suggest
    - search.highlight

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]

nav:
  - Home: index.md
  - API Reference:
      - Events: api/events.md